* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: poppins sans-serif
}

ul {
   list-style: none
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

body {
   background-color: #202020;

}

.container {
   width: 80%;
   margin: 0 auto;
   padding: 10px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #494a47;
}

.logo {
   min-width: 100px;
   padding: 5px 10px;
   position: relative;
   border-right: #252628 1px solid;
   cursor: pointer;
}

.logo img {
   max-width: 90%;
}


.search {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;
   background-color: rgb(40, 41, 43);
   border-radius: 9999px;
}

.search input {
   outline: none;
   border: none;
   background-color: transparent;
   caret-color: #d47a9d;
   color: white;
}

.search input::placeholder {
   text-transform: capitalize;
}

nav ul {
   display: flex;
   gap: 10px;
   list-style: none;
   align-items: center;
}

nav ul li {
   display: flex;
   align-items: center;
   min-height: 40px;
   padding: 5px 10px;
   border-radius: 9999px;
   cursor: pointer;
   transition: .4s;
   font-size: 20px;
}

nav ul li:last-child {

   gap: 10px;
   align-items: center;
}

nav ul li:hover {
   color: #a15465;
   background-color: rgba(16, 14, 14, 0.708);

}

nav ul li img {
   border-radius: 50%
}


@media(max-width:991px) {
   header {
      flex-direction: column;
      gap: 20px;
   }

   nav,
   ul {
      width: 100%;
   }

   nav ul {
      flex-direction: column;

   }

   nav ul li {
      width: 100%;
      justify-content: center;
      border-bottom: 1px solid #1a1818;
      border-radius: 0;
   }
}

/*End header */

/*  start parent  */
.parent {
   margin: 20px auto;
   padding: 20px;
   background-color: #28292b;

}

.parent .landing {
   background: url(../image/landing.jpg);
   background-size: cover;
   padding: 30px;
   height: 300px;
}

.parent .landing p {
   color: #e5dde4;
   font: bold;
   text-transform: capitalize;
}

.parent .landing h1 span {
   color: #e86190;
}

.parent .landing h1 {
   font-weight: bold;
   color: white;
   text-transform: uppercase;
}

.btn,
.view {
   text-align: center;
   margin: 20px 0;
   border-radius: 9999px;
   color: white;
   padding: 5px 10px;
   background-color: #d47a9d;
   width: 120px;
   cursor: pointer;
   transition: .3s;
}

.btn:hover {
   color: #d47a9d;
   background-color: white;
}

/* when you click on this button */
.btn:active {
   color: white;
   background-color: black;
}
/*------------*/
.popular {
   color: white;
   background-color: #202123;
   margin: 20px auto;
   padding: 50px 20px;
   border-radius: 20px;
   position: relative;

}

h2 {
   margin: 20px 0;
   color: #c55b7f;
}

h2 span {
   color: white;
   text-decoration: underline;
}

.popular .boxes {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 20px;
   position: relative;
}

.popular .boxes .box {
   border-radius: 20px;
   background-color: #28292b;
   padding: 20px 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-shadow: 0px 10px 9px 6px rgb(0 0 0 / 11%);
   transition: .3s;
   cursor: pointer;
}

.popular .boxes .box:hover {
   transform: translateY(-10px);
   box-shadow: 0px 10px 9px 6px rgba(0, 0, 0, 0.2);
}


.popular .boxes .box .img {
   margin: 5px auto;
   padding: 10px;
   width: 100%;

}

.popular .boxes .box .img img {
   border-radius: 30px;
   margin: 0 auto;
   min-width: 100%;
   max-width: 100%
}



.contant {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

}

.info {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}


.info :is(span, p) {
   text-transform: capitalize;
}

.info span {
   color: #494a47;
}

.icon .ico {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.cen {
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translate(-50%, -50%);
   width: fit-content;
   padding: 5px 10px;
   margin: 0;

}
/*-------------*/

.gaming {
   padding: 50px 20px;
   background-color: #202123;
   border-radius: 20px;
   margin: 30px auto;
   position: relative;
}

.row-gaming {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .625rem;
}

.row-gaming .box-gaming {
   display: flex;
   width: 100%;
   justify-content: center;
   justify-content: space-between;
   align-items: center;
   color: white;
   border-bottom: 1px solid #222222;
}

.row-gaming .box-gaming .data p {
   text-transform: capitalize;
}

.row-gaming .box-gaming .data span {
   text-transform: capitalize;
   color: #494a47;
}

footer {
   color: white;
   width: 80%;
   text-align: center;
   margin: 10px auto;
   text-transform: capitalize;
}

.gaming .view {
   position: absolute;
   left: 50%;
   top: 100%;
   width: fit-content;
   transform: translate(-50%, -50%);
   margin: 0;
}

.view:hover {
   color: #d47a9d;
   background-color: white;
}

/* when you click on this button */
.view:active {
   color: white;
   background-color: black;
}